body{
   background-color: #DDDDDD;
}

a{ text-decoration:none; color:#888888; }
a:hover{ text-decoration:none; color:#000000; }

.container-fluid{
   padding: 5px;
   background-color: #FFFFFF;
   border-radius: 5px;
   margin: auto;
   max-width: 80%;
}

.btn-long{
   width: 100%;
   /*margin: 3px;*/
}

.center{
   display: block;
   margin:auto;
}


.btnPlaceHolder{
   height: 10px;
}

.sig{
   //position: absolute;
   margin-right: 10%;
   float: right;
   color: #BBBBBB;
   font-family: Impact, Fantasy;
}

.challenge{
   color: #DD3333;
   font-family: Impact, Fantasy;
   font-style: italic;
   font-size: 120%;
   
}

.slider{
   position: fixed;
   top: 10%;
   left: 0px;
   height: 80%;
   width: 20px;
   border: 1px solid #347;
   background-color: #bcf;
   border-top-right-radius:10px;
   border-bottom-right-radius:10px;
   z-index:1000;
}

.slider:hover{
   background-color: #cdf;
   cursor: hand;
   cursor: pointer;
}

#space-code{ position:relative;margin-left: 25px; margin-top:5px; width:95%; height: 90%;}

#code{
   font-family: monospace;
   position: relative;
   height:95%;
   width:95%;
}

#run{ margin-left:25px; }

#code-box{
   position: fixed;
   top: 10%;
   left: 0px;
   border: 1px solid black;
   height: 80%;
   width: 0px;
   background-color: white;
   border-top-right-radius:10px;
   border-bottom-right-radius:10px;
   z-index:999;
}

.smallCode{ 
   clear: both; 
   border: 1px solid #999999; 
   padding: 10px ; 
   background-color: #F5F5F5;
   border-radius: 2px; 
   float: left; 
   position: relative ; 
   bottom: 10px;  
   margin: 5px
}

.divBlock{ 
   border: 1px solid #999999; 
   background-color: #DDDDDD; 
   width: 150px; height: 20px; 
   margin: auto; 
   text-align: center; 
   font-size:20px; 
   padding:40px; 
   user-select: none; 
   cursor: pointer; 
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.plus{
position: relative;
top:50%;
bottom:50%;
margin-bottom: 7px;
display: block;
margin-left: auto;
margin-right:auto;
}

@media (min-width: 768px) { 
   .btnNav{
      position: fixed;
   } 
   .btnPlaceHolder{
      height: 150px;
   }
}

canvas{ border: 1px solid black; display: block; margin: auto }
#myCanvas { border: 0px solid white; }